@font-face {
	font-family: "W_mitra";
	src: url('fonts/WebMitra.woff');
}
$large: 750px;
$medium: 550px; 
$small: 300px;
$xsmall: 450px;

$base-red: #820e0e;
html, body {
	font-size: 16px;
	font-family: "W_mitra";
	font-weight: normal !important;
	padding: 0;
	margin: 0;
	background-color: #f9f9f9;
	direction: rtl;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
ul {
	list-style: none;
}
p {
	font-size: 1em;
	line-height: 1.25em; 
	color: #333;
}
a {
	color: #dddddd;
	text-decoration: none;
	transition: all .3s ease-out;
}
a:hover {
	text-decoration: none;
	transition: all .8s ease-out;
}
.fleft {
	float: left !important;
}
.fright {
	float: right !important;
}